<app-header-user></app-header-user>

<!-- Main -->
<div class="main-container">
    <div id="account-container">

        <img src="/assets/gcashLogo.png" alt="">

        <img id="barcode" src="/assets/barcode.jpg" alt="">

        <table id="email-table">

            <th colspan="2"> <span style="font-weight: bold;">Scan code to pay</span></th>

            <tr>
                <td style="font-weight: bold;">Items:</td>
                <td>
                    Bracelet - 2 x ₱ 50.00
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold;">Total:</td>
                <td>
                    ₱ 100.00
                </td>
            </tr>



        </table>







        <a routerLink="/store-page"><Button id="edit-button" style="margin-right: 15px;">Cancel
                Transaction</Button></a>


    </div>





</div>