<div id="main-container">
    <div id="header-container">
        <!-- <div id="hamburger" class="dropdown">
            <button class="dropbtn"><img src="/assets/Hamburger_icon.svg.png" alt=""></button>
            <div class="dropdown-content">
                <a href="#" routerLink="/user-homepage">Home Page</a>
                <a href="#">Link 2</a>
                <a routerLink="/profile-user">Account Settings</a>
                <a href="#" routerLink="">Logout</a>
            </div>
        </div> -->
        <div id="logo-container">
            <a routerLink="/"><img src="assets/TLV.png" alt=""></a>
        </div>




        <!--  -->
        <div id="mySidenav" class="sidenav">
            <a href="#" routerLink="/user-homepage" id="home">Home Page</a>
            <a href="#" routerLink="/user-homepage" id="history">Transaction History</a>
            <a href="#" routerLink="/profile-user" id="account">Account Setting</a>
            <a href="#" routerLink="" id="logout">Logout</a>
        </div>
    </div>
</div>