<div id="header-container">
    <div id="dropdown-container">
        <img src="assets/Hamburger_icon.svg.png" alt="">
    </div>

    <div id="logo-container">
        <img src="assets/TLV.png" alt="">
    </div>

    <div id="search-container">
        <table id="search-table">
            <tr>
                <td>
                    <p>SEARCH</p>
                </td>
                <td><input type="text" name="" id="searh-bar" placeholder="Search.."></td>
            </tr>
        </table>
    </div>
</div>