<router-outlet></router-outlet>
<!-- <app-profile-page-vendor></app-profile-page-vendor> -->
<!-- <app-store-page></app-store-page> -->
<!-- <app-vendor-dashboard></app-vendor-dashboard> -->
<!-- <app-vendor-main-page></app-vendor-main-page> -->
<!-- 
<app-profile-page-vendor></app-profile-page-vendor> -->
<!-- <app-profile-page></app-profile-page> -->
<!-- <app-vendor-dashboard></app-vendor-dashboard> -->
<!-- <app-vendor-delete-item></app-vendor-delete-item> -->
<!-- <app-vendor-edit-page></app-vendor-edit-page> -->
<!-- <app-vendor-add-item></app-vendor-add-item> -->
<!-- <app-vendor-delete-item></app-vendor-delete-item> -->