<app-header-user></app-header-user>

<!-- Main -->
<div class="main-container">
    <div id="account-container">
        <h2>Transaction History</h2>

        <table class="transactions">
            <tr colspan="2">
                <th style="text-align: left;">Transaction Number: 900000001</th>
            </tr>
            <tr>
                <td>Vendor Name:</td>
                <td>Cebu Market Souvenirs

                </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>January 20, 2023</td>
            </tr>
            <th>Items</th>
            <tr>

                <td colspan="2">
                    <ul>
                        <li>Dried Mango: 5 x ₱ 50.00 = ₱ 250.00</li>
                        <li>Bag: 1 x ₱ 130.00 = ₱ 130.00</li>

                    </ul>
                </td>

            </tr>

            <tr>
                <td colspan="2" style="text-align: right; font-weight: bold;">Total : ₱ 380.00 </td>
            </tr>
            <tr>



                <td colspan="2">
                    <hr>
                </td>

            </tr>
        </table>

        <table class="transactions">
            <tr colspan="2">
                <th style="text-align: left;">Transaction Number: 900000001</th>
            </tr>
            <tr>
                <td>Vendor Name:</td>
                <td>Cebu Market Souvenirs

                </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>January 20, 2023</td>
            </tr>
            <th>Items</th>
            <tr>

                <td colspan="2">
                    <ul>
                        <li>Dried Mango: 5 x ₱ 50.00 = ₱ 250.00</li>
                        <li>Bag: 1 x ₱ 130.00 = ₱ 130.00</li>

                    </ul>
                </td>

            </tr>

            <tr>
                <td colspan="2" style="text-align: right; font-weight: bold;">Total : ₱ 380.00 </td>
            </tr>
            <tr>



                <td colspan="2">
                    <hr>
                </td>

            </tr>
        </table>







    </div>

</div>