<app-header-user></app-header-user>
<app-side-bar></app-side-bar>


<div id="container">
    <div id="item-page-container">

        <div id="map-snippet-container">
            <p>LOCATION</p>
            <img id="map" src="assets/map-snippet.jpg" alt="">
        </div>

        <div id="container-2">



            <div id="left-container">

                <img id="store-image" src="assets/store.jpg" alt="">


                <div id="store-desciption-container">


                    <span id="title"> <b>Cebu Market Souvenirs</b> </span> <br>
                    <p id="description">
                        Welcome to Cebu Market Souvenirs, a haven for travelers seeking distinctive mementos. Situated
                        in the heart of Cebu, our souvenir shop invites you to explore a rich tapestry of cultural
                        keepsakes. From handwoven textiles to intricately carved trinkets, each item tells a story of
                        the vibrant heritage of Cebu. Visit us at 789 Heritage Lane, where the spirit of the market
                        comes alive in every carefully curated souvenir, offering a piece of Cebu's charm to take home
                        with you.
                    </p>
                </div>

            </div>




            <div id="right-container">

                <div id="right-container-image-container">
                    <img id="right-img" src="assets/dmango.jpg" alt="">
                </div>

                <div id="right-container-description">
                    <span id="star">&#9733;&#9733;&#9733;&star;&star;</span>
                    <p id="right-title">Dried Mango - ₱30  

                    </p>
                    <button id="forum-button" routerLink="/forum-main">See Forum Page</button>
                    <p id="right-description">
                        In the Philippines, dried mango is more than just a snack; it's a slice of paradise that you can take with you wherever you go. So, when you're exploring the enchanting landscapes, rich history, and vibrant culture of the Philippines, make sure to savor the natural goodness of dried mango – a true taste of the tropics.

                        When you're in the Philippines, don't forget to indulge in the sweet and tangy delight of dried mango. It's a delightful taste of the tropics, a flavorful memory of your visit, and a snack you won't want to leave behind.
                    </p>


                </div>




            </div>
        </div>




    </div>
</div>