.main-container{
    position: relative;
    width: 100%; /* Set the width of your container */
    margin: 0 auto; /* Center the container horizontally */
    top: 10%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    /* border: 1px solid    navy; */
    font-size: medium;
}

#account-container{
    position: relative;
    left: 40px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    width: 25%;
    height: 95%;
    border: 1px solid;
}


img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100px;
    padding: 20px;
    height: 100px;
    border: aliceblue solid 2px;
    border-radius: 50px;
    background-color: azure;
}

tr{
    padding: 5px;
}

td{
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: fit-content;
}

input{
    font-size: 20px;
    width: 100%;
}

#other-accounts{
    width: 100%;
    margin: 5px;
}
svg{
    width: 90px;
    height: 90px;
    padding: 5px;
    margin: 10px;
}
#account-created{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

#address{
    display: inline-block;
    position: absolute;
    margin-left: 60px;
    /* margin-right: 30px; */
    top: 10px;
    padding: 5px;
    width: 68%;
    /* margin: 5px; */
    height: 300px;
    border: 1px solid;
}

#address-table{
    /* display: inline-block; */
    position: absolute;
    right: 10px;
    width: 80%;
    font-size: 25px;
}

#address-table label{
    /* position: absolute; */
    /* position: absolute; */
    left: 10px;
    border: solid;
    /* width: 500px  ; */
}

#checkout-settings{
    display: inline-block;
    position: absolute;
    margin-left: 55px;

    bottom: 8px;
    width: 69%;
    height: 450px;
    border: 1px solid;
}



