.main-container{
    position: relative;
    width: 100%; /* Set the width of your container */
    margin: 0 auto; /* Center the container horizontally */
    top: 10%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    border: 1px solid    navy;
    font-size: medium;
}

#account-container{
    position: relative;
    left: 50px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    width: 25%;
    height: 95%;
    border: 1px solid;
}


img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100px;
    padding: 20px;
    height: 100px;
    border: aliceblue solid 2px;
    border-radius: 50px;
    background-color: azure;
}

tr{
    padding: 5px;
}

td{
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: fit-content;
}

input{
    font-size: 20px;
    width: 100%;
}

#other-accounts{
    width: 100%;
    margin: 5px;
}
svg{
    width: 90px;
    height: 90px;
    padding: 5px;
    margin: 10px;
}
#account-created{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

#address{
    
}



