<app-header-user></app-header-user>
<app-side-bar></app-side-bar>

<div id="top-container">
    
    
</div>
<div id="mid-header">

    </div>
<div id="main-container">
    <div id="food-container">
        <div class="food">

        </div>
        <div class="food">
            
        </div>
        <div class="food">

        </div>
        <div class="food">
            
        </div>
        <div class="food">
            
        </div>
       
    </div>
    <div id="accesories-container">
        <div class="accesories">

        </div>
        <div class="accesories">

        </div>
        <div class="accesories">

        </div>
        <div class="accesories">

        </div>
    </div>
    <div id="clothing-container">
        <div class="cloth">

        </div>
        <div class="cloth">

        </div>
        <div class="cloth">

        </div>

    </div>
</div>
