<div id="main-container">
    <div id="img-logo">
        <img src="/assets/TLV.png" alt="">
    </div>
    <div id="login-container">
        <div id="login-form">
            <h1>Register </h1>
            <form action="action_page.php" method="post">
                <div class="imgcontainer">
                  <img src="/assets/avatar.png" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <label for="uname"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="uname" required>
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
                  <label for="psw"><b>Retype Password</b></label>
                  <input type="password" placeholder="Retype Password" name="psw" required>
              
                  <button type="submit" routerLink="/user-homepage">Register Account</button>
                  <!-- <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label> -->
                </div>
              
                <div class="container" style="background-color:#f1f1f1">
                <span>Want To Be A Vendor?</span><a href="" routerLink="/vendor-registration">Register As A Vendor</a>
                  <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
                </div>
              </form>
        </div>
    </div>