<app-header-user></app-header-user>
<app-side-bar></app-side-bar>


<div id="main-container">
    <div id="image-location">
        <img id="map" src="assets/map-snippet.jpg" alt="">
    </div>
    <div id="bottom">
        <div id="location-form"> 
            <div id="checkboxes">
            <label for="">Food</label>
            <input type="checkbox" name="" id="" checked>
            <label for="">Accessories</label>
            <input type="checkbox" name="" id="" checked>
            <label for="">Clothing</label>
            <input type="checkbox" name="" id="" checked>
            </div>
            <div id="search-bar">
                <input type="text" class="searchBar" placeholder="Enter Your Address">
            </div>
            <div class="btn">
                <button>Find Vendor</button>
            </div>

            <div id="distance">
                <label for="">Distance From You, Furthest: Half A Mile</label>
                <input type="range" id="mileSlider" name="mileSlider" min="0.1" max="0.5" step="0.1" value="0.1">
            </div>
        </div>
        <div id="stores">
            <div id="store">   
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div> 
                <div id="store-desc">
                    <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p>
                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>          
            </div>
            <div id="store">
                <div id="store-image">
                    <img src="/assets/shop.jpg" alt="">
                </div> 
                <div id="store-desc">

                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>                              
            </div>
            <div id="store"> 
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div> 
                <div id="store-desc">

                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>                             
            </div>

            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div> 
                <div id="store-desc">

                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>                              
            </div>
            <div id="store">   
                <div id="store-image">
                    <img src="/assets/shop.jpg" alt="">
                </div> 
                <div id="store-desc">

                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>                           
            </div>
            <div id="store">  
                <div id="store-image">
                    <img src="/assets/shop.jpg" alt="">
                </div> 
                <div id="store-desc">

                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>                            
            </div>

            <div id="store">  
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div> 
                <div id="store-desc">

                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>                            
            </div>
            <div id="store">   
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div> 
                <div id="store-desc">

                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>                           
            </div>
            <div id="store">    
                <div id="store-image">
                    <img src="/assets/shop.jpg" alt="">
                </div> 
                <div id="store-desc">

                </div> 
                <div id="btn-bottom">
                    <button class="button">View Store</button>
                </div>                          
            </div>
        </div>

    </div>


</div>
