<app-header-user></app-header-user>
<app-side-bar></app-side-bar>


<div id="main-container">
    <div id="image-location">
        <img id="map" src="assets/map-snippet.jpg" alt="">
    </div>
    <div id="bottom">
        <div id="location-form"> 
            <div id="checkboxes">
            <label for="">Food</label>
            <input type="checkbox" name="" id="" checked>
            <label for="">Accessories</label>
            <input type="checkbox" name="" id="" checked>
            <label for="">Clothing</label>
            <input type="checkbox" name="" id="" checked>
            </div>
            <div id="search-bar">
                <input type="text" class="searchBar" placeholder="Enter Your Address">
            </div>
            <div class="btn">
                <button>Find Vendor</button>
            </div>

            <div id="distance">
                <label for="">Distance From You, Furthest: Half A Mile</label>
                <!-- <select name="distance" id="distance">
                    <option value="Nearest">Nearest</option>
                    <option value="Farthest">Farthest</option>
                </select> -->
                <input type="range" id="mileSlider" name="mileSlider" min="0.1" max="0.5" step="0.1" value="0.1">
                <!-- <p id="sliderLabel">Furthest: 0.1 mile</p> -->

            </div>
        </div>
        <div id="stores">
            <div id="store">                    
            </div>
            <div id="store">                    
            </div>
            <div id="store">                    
            </div>

            <div id="store">                    
            </div>
            <div id="store">                    
            </div>
            <div id="store">                    
            </div>

            <div id="store">                    
            </div>
            <div id="store">                    
            </div>
            <div id="store">                    
            </div>
        </div>

    </div>


</div>
