<app-header-user></app-header-user>
<!-- <app-side-bar></app-side-bar> -->


<div id="main-container">
    <div id="image-location">
        <img id="map" src="assets/map-snippet.jpg" alt="">
    </div>
    <div id="bottom">
        <div id="location-form">
            <!-- <div id="checkboxes">
            <label for="">Food</label>
            <input type="checkbox" name="" id="" checked>
            <label for="">Accessories</label>
            <input type="checkbox" name="" id="" checked>
            <label for="">Clothing</label>
            <input type="checkbox" name="" id="" checked>
            </div> -->
            <div id="search-bar">

                <input type="text" class="searchBar" placeholder="Enter Your Address">
            </div>
            <div class="btn">
                <button>Find Vendor</button>
            </div>

            <!-- <div id="distance">
                <label for="">Distance From You:</label>
                <input type="range" id="mileSlider" name="mileSlider" min="0.1" max="0.5" step="0.1" value="0.1">
            </div> -->

            <div id="distance">
                <label for="mileSlider">Distance From You In Kilometers:</label>
                <input type="range" id="mileSlider" name="mileSlider" min="0.1" max="0.5" step="0.1" value="0.1">
                <div id="sliderLabels">
                    <span style="left: 10%;">0.1 km</span>
                    <span style="left: 30%;">0.2 km</span>
                    <span style="left: 50%;">0.3 km</span>
                    <span style="left: 70%;">0.4 km</span>
                    <span style="left: 90%;">0.5 km</span>
                </div>
            </div>











            <div id="filter-vendor">
                <label for="">Sort By</label>
                <select name="" id="">
                    <option value="">Name</option>
                    <option value="">Rating</option>
                    <option value="">Distance</option>

                    <option value="">Tags</option>
                </select>
            </div>
        </div>
        <div id="stores">
            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Clothing</li>
                        <li>Accessories</li>
                        <li>Tags</li>
                        <li>Gadgets</li>
                    </ul>

                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>
            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Clothing</li>
                        <li>Accessories</li>
                        <li>Tags</li>
                        <li>Beverages</li>
                    </ul>
                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>
            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Clothing</li>
                        <li>Accessories</li>
                        <li>Gadgets</li>
                        <li>Beverages</li>
                    </ul>
                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>

            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Accessories</li>
                        <li>Tags</li>
                        <li>Gadgets</li>
                        <li>Beverages</li>
                    </ul>
                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>
            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Clothing</li>
                        <li>Gadgets</li>
                        <li>Beverages</li>
                    </ul>
                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>
            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Clothing</li>
                        <li>Tags</li>
                        <li>Gadgets</li>
                        <li>Beverages</li>
                    </ul>
                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>

            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Clothing</li>
                        <li>Accessories</li>
                        <li>Tags</li>
                    </ul>
                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>
            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Accessories</li>
                        <li>Gadgets</li>
                    </ul>
                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>
            <div id="store">
                <div id="store-image">
                    <img src="/assets/store.jpg" alt="">
                </div>
                <div id="store-desc">
                    <!-- <p id="store-desc-long"> Welcome to Cebu Market Souvenirs, where travelers find unique mementos in the heart of Cebu. Discover cultural treasures—handwoven textiles, intricately carved trinkets—each telling a story of Cebu's vibrant heritage. Visit us at 789 Heritage Lane to take home a piece of Cebu's charm</p> -->
                    <h2>Cebu Market Souvenirs</h2>
                    <img src="/assets/star-rating.png" alt="" class="Rating">
                    <h3>Address: Address: 789 Heritage Lane</h3>

                    <ul>
                        <li>Food</li>
                        <li>Clothing</li>
                        <li>Accessories</li>
                        <li>Gadgets</li>
                        <li>Beverages</li>
                    </ul>
                </div>
                <div id="btn-bottom">
                    <button class="button" routerLink="/store-page">View Store</button>
                </div>
            </div>
        </div>

    </div>


</div>