#main-container{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 84%;
    height: 93%;
}

#image-location{
    position: flex;
    display: flex;
    background: gainsboro;

    width: 100%;
    height: 30%;

}

#map{
    width: 100%; 
    height: 100%;
}

#bottom{
    position: absolute;
    
    width: 100%;
    height: 70%;
    bottom: 0px;
}

#location-form{
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-bottom: 1px solid ;
    box-shadow: 0px 2px 4px 0px grey;
}

.searchBar {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;

    width: 400px;
}
.btn button {
    margin-right: 5px;

    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn button:hover {
    background-color: #0056b3;
}

#distance{
    padding: 5px;
}

#distance label{
    margin-right: 5px;
}

 input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007bff; 
    cursor: pointer;
}


input[type="range"]::-webkit-slider-thumb:hover {
    background: #0056b3;
}

#checkboxes{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#stores{
   
    height: 90%; 
    overflow-y: auto; 
    display: grid;
    grid-template-columns: repeat(3, 3fr); 
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}

#stores::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}

#store{
    position: relative;
    display: flex;
    justify-content: center;
   width: 500px;
   height: 350px; 
   background: linear-gradient(to bottom, #B4E1FF, #9CC6E6);
   margin: 5px;
   box-shadow: 0px 2px 2px 0px grey;
}

#store-image{
    display: flex;
   
    margin: 5px;
    width: fit-content;
    height: 75%;
    border: solid;
}

#store-desc{
    padding: 5px;
   margin: 5px;
   width: 350px;
   height: 74%; 
   /* border: solid; */
   background: white;
}



#btn-bottom{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 500px;
    bottom: 0px;
}

.button {
    
    width: 90%;
    background-color: #141718;
    height: 60px;
    color: #ddd;
    border-style: none;
    border-radius: 10px;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.button:hover {
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    cursor: pointer;

}

